a {
	text-decoration: none;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
}

.link {
	color: cornflowerblue;
	font-size: 16px;
	line-height: 20px;
}

.header {
	color: #222222;
	font-size: 28px;
	line-height: 36px;
	font-weight: 700;
}

.par {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #7d7987;
}

.section {
	color: coral;
	font-weight: 700;
	font-size: 36px;
	line-height: 80px;
}
